<div class="bg-black px-4">
  <div class="max-w-7xl mx-auto h-20 flex justify-between items-center">
    <img class="w-12 h-12" src="/assets/oi-512.png" />
    <button class="bg-slate-200 p-2.5 rounded-lg hover:bg-slate-300">
      Log in to account
    </button>
  </div>
  <div class="max-w-5xl mx-auto flex justify-between items-center py-12">
    <div class="w-100 sm:w-5/12">
      <h3 class="text-white leading-tight text-6xl font-semibold">
        Hangout, then get refunded.
      </h3>
      <p class="text-white mt-10">Subscribe now and turn up the fun.</p>
      <a
        href="/oi-auth"
        class="bg-slate-200 p-2.5 rounded-lg hover:bg-slate-300 mt-4 inline-block"
      >
        Get fun insurance
      </a>
    </div>
    <div
      class="hidden sm:block w-1/2 bg-[url('/assets/outinsure-hero.jpeg')] min-h-[410px] max-h-[700px] bg-cover rounded-r-3xl"
    ></div>
  </div>
</div>
<div class="bg-white px-4">
  <div class="mx-auto max-w-5xl py-12 font-mono">
    <h3 class="text-black text-4xl font-bold">
      Sponsors & Partners
    </h3>
    @if (platinumSponsors.length) {
      <h4 class="uppercase text-xl mt-5">Platinum sponsors</h4>
      <div class="flex items-center justify-between flex-wrap my-10">
        @for(sponsor of platinumSponsors; track sponsor.photoUrl) {
          <div class="flex rounded-xl bg-[#F3F3F3] w-[325px] h-[200px] py-4 px-4 mb-4">
            <div class="flex flex-col flex-1 justify-center pr-6">
              <p class="font-bold text-xl">{{sponsor.name}}</p>
              <a class="underline mt-4" target="_blank" [href]="sponsor.websiteUrl">Learn More</a>
            </div>
            <div 
              class="bg-contain bg-center bg-no-repeat flex-1" 
              [style.backgroundImage]="'url(' + sponsor.photoUrl +')'"
            ></div>
          </div>
        }
      </div>
    } 
    @if (standardSponsors.length) {
      <h4 class="uppercase text-lg mt-5">Standard sponsors</h4>
      <div class="flex items-center flex-wrap my-10">
        @for(sponsor of standardSponsors; track sponsor.photoUrl) {
          <div 
            class="bg-contain bg-center bg-no-repeat w-[150px] h-[100px] mr-6" 
            [style.backgroundImage]="'url(' + sponsor.photoUrl +')'"
          ></div>
        }
      </div>
    } 
    @if (registeredPartners.length) {
      <h4 class="uppercase text-lg mt-5">Registered Partners</h4>
      <div class="flex flex-wrap my-10">
        @for(sponsor of registeredPartners; track sponsor.photoUrl) {
          <div 
            class="bg-contain bg-center bg-no-repeat w-[100px] h-[100px] mr-6" 
            [style.backgroundImage]="'url(' + sponsor.photoUrl +')'"
          ></div>
        }
      </div>
    }
  </div>
</div>
<div class="bg-black px-4">
  <div class="mx-auto max-w-5xl pt-12 pb-16">
    <div class="flex items-center justify-between">
      <div
        class="bg-[url('/assets/oi-192-white.png')] bg-cover h-10 w-10"
      ></div>
      <div>
        <span
          class="icon-[ant-design--facebook-filled] text-white h-8 w-8 cursor-pointer rounded-full"
        ></span>
        <span
          class="icon-[ant-design--x-outlined] text-white h-8 w-8 cursor-pointer rounded-full"
        ></span>
        <span
          class="icon-[ant-design--instagram-outlined] text-white h-8 w-8 cursor-pointer rounded-full"
        ></span>
      </div>
    </div>
    <div class="flex items-center justify-between text-white mt-6 flex-wrap">
      <div>
        <h4 class="font-bold">Product</h4>
        <h5 class="mt-4">Sponsor</h5>
        <h5 class="mt-4">Download</h5>
      </div>
      <div>
        <h4 class="font-bold">Account</h4>
        <h5 class="mt-4">Account</h5>
        <h5 class="mt-4">Team</h5>
        <h5 class="mt-4">Invite friends</h5>
      </div>
      <div>
        <h4 class="font-bold">Contact</h4>
        <h5 class="mt-4">
          <a href="tel:+12265056255">+1 (226) 505-6255</a>
        </h5>
        <h5 class="mt-4">
          <a href="mailto:ashikodiemeka@gmail.com"
            >ashikodiemeka&#64;gmail.com</a
          >
        </h5>
        <h5 class="mt-4">London, Ontario.</h5>
      </div>
    </div>
  </div>
  </div>
  <div class="bg-neutral-800 px-4">
    <div
      class="mx-auto max-w-5xl py-6 block sm:flex items-center justify-between text-slate-200"
    >
      <div class="flex items-center justify-between w-72">
        <span>Privacy</span>
        <span>Terms</span>
        <span>Accessibility</span>
      </div>
      <div class="flex items-center mt-4 sm:mt-0">
        <span
          class="icon-[ant-design--copyright-outlined] text-white h-4 w-4 mr-1"
        ></span>
        2024 OutInsure Inc., All Rights Reserved.
      </div>
    </div>
    
  </div>
