<h2 class="text-4xl mb-6 font-semibold">Password</h2>
<p class="mb-4">Your password should be at least 8 characters long, and contain at least one digit and one non-digit character.</p>
<input type="password" 
    class="bg-[#F3F3F3] 
    text-xl placeholder:text-[#757575] w-full placeholder:font-light 
    py-3 px-4 rounded-xl focus:outline-slate-500 focus:outline-2 
    placeholder:text-base" 
    placeholder="New Password" 
/>
<input type="password" 
    class="bg-[#F3F3F3] 
    text-xl placeholder:text-[#757575] w-full placeholder:font-light 
    py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
    placeholder:text-base" 
    placeholder="Confirm Password" 
/>
<button
    type="button"
    class="w-full bg-black text-white font-semibold h-12 rounded-xl mt-4"
>
    Update
</button>