<h2 class="text-4xl mb-6 font-semibold">Email</h2>
<p class="mb-4">This email will receive group invites and allow you authenticate your account.</p>
<input
    class="bg-[#EEEEEE] text-xl placeholder:text-[#757575] w-full placeholder:font-light py-3 px-4 rounded-xl focus:outline-slate-500 focus:outline-2"
    placeholder="Enter your email address"
    id="email"
    type="text"
/>
<span class="font-light text-sm">A verification code will be sent to this email</span>
<button
    type="button"
    class="w-full bg-black text-white font-semibold h-12 rounded-xl mt-6"
>
    Update
</button>