<h2 class="text-4xl font-semibold">Name</h2>
<input type="text" 
    class="bg-[#F3F3F3] 
    text-xl placeholder:text-[#757575] w-full placeholder:font-light 
    py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
    placeholder:text-base" 
    placeholder="First name" 
/>
<input type="text" 
    class="bg-[#F3F3F3] 
    text-xl placeholder:text-[#757575] w-full placeholder:font-light 
    py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
    placeholder:text-base" 
    placeholder="Last name" 
/>
<input type="text" 
    class="bg-[#F3F3F3] 
    text-xl placeholder:text-[#757575] w-full placeholder:font-light 
    py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
    placeholder:text-base" 
    placeholder="Display name" 
/>
<button
    type="button"
    class="w-full bg-black text-white font-semibold h-12 rounded-xl mt-4"
>
    Update
</button>