<div class="flex flex-col min-h-dvh">
  <div class="bg-black">
    <a
      href="/"
      class="max-w-7xl mx-auto h-20 flex justify-between items-center"
    >
      <img class="w-12 h-12" src="/assets/oi-512.png" />
    </a>
  </div>
  <div class="w-80 mx-auto flex-1 flex items-center">
    <div class="w-full">
      <form [formGroup]="oauthForm" (ngSubmit)="emailOauth()">
        <label for="email" class="text-3xl font-light mb-3">What's your email?</label>
        <input
          class="bg-[#EEEEEE] text-xl placeholder:text-[#757575] w-full placeholder:font-light py-3 px-4 rounded-xl focus:outline-slate-500 focus:outline-2"
          placeholder="Enter your email address"
          id="email"
          type="text"
          formControlName="email"
        />
        <button
          type="submit"
          class="w-full bg-black text-white font-semibold h-12 rounded-xl mt-4"
        >
          Continue with Email
        </button>
      </form>
      <div class="flex items-center w-full my-4">
        <div class="border border-gray-500 flex-1"></div>
        <span class="mx-2 text-gray-500">or</span>
        <div class="border border-gray-500 flex-1"></div>
      </div>
      <button
        class="flex items-center justify-center w-full bg-[#EEEEEE] hover:bg-[#DDDDDD] h-12 rounded-xl"
      >
        <span class="icon-[devicon--google] h-6 w-6"></span>
        <span class="font-semibold text-black ml-2">Continue with Google</span>
      </button>
      <button
        class="flex items-center justify-center w-full bg-[#EEEEEE] hover:bg-[#DDDDDD] h-12 rounded-xl mt-4"
      >
        <span class="icon-[logos--microsoft-icon] h-6 w-6"></span>
        <span class="font-semibold text-black ml-2"
          >Continue with Microsoft</span
        >
      </button>
    </div>
  </div>
</div>
