<h2 class="text-3xl text-center pb-4 border-b border-[#CBCBCB]">Create Group</h2>
<div class="flex mt-6 items-center justify-between w-4/5 mx-auto">
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 0 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B]'"
        (click)="goToStep(0)"
    >
        Name Group
    </button>
    <div class="h-[1px] bg-[#9B9B9B] flex-1"></div>
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 1 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B]'"
        (click)="goToStep(1)"
    >
        Invite Members
    </button>
    <div class="h-[1px] bg-[#9B9B9B] flex-1"></div>
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 2 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B]'"
        (click)="goToStep(2)"
    >
        Review
    </button>
</div>
@if (tabIndex == 0) {
    <div class="mt-6">
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Group name" 
        />
        <textarea class="bg-[#F3F3F3] 
        text-xl placeholder:text-[#757575] w-full placeholder:font-light 
        py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
        placeholder:text-base" placeholder="Group description (Optional)" rows="5"></textarea>
        <div class="flex items-center justify-around">
            <a 
                routerLink="/account/groups" 
                class="w-2/5 bg-transparent text-black border border-black font-semibold h-12 rounded-xl mt-4 flex items-center justify-center"
            >
                Cancel
            </a>
            <button
                (click)="postGroupName()"
                type="button"
                class="w-2/5 bg-black text-white font-semibold h-12 rounded-xl mt-4"
            >
                Continue
            </button>
        </div>
    </div>
} @else if (tabIndex == 1) {
    <div class="mt-6">
        <p class="w-4/5 text-center text-[#1B1B1B] font-light">Invite first five group members. If group has less than 5, members can be entered multiple times.</p>
        <input disabled type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base"
            value="ashikodiemeka@gmail.com"
            placeholder="Enter e-mail address" 
        />
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Enter e-mail address" 
        />
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Enter e-mail address" 
        />
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Enter e-mail address" 
        />
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Enter e-mail address" 
        />
        <button
            (click)="sendMembersInvite()"
            type="button"
            class="w-full bg-black text-white font-semibold h-12 rounded-xl mt-4"
        >
            Continue
        </button>
        <p class="mt-6 py-6 border-t border-[#CBCBCB] text-lg text-[#6B6B6B]">Copy Link</p>
        <div class="flex items-center justify-between">
            <input disabled type="text"
                class="bg-[#F3F3F3] 
                text-xl placeholder:text-[#757575] w-full placeholder:font-light 
                py-3 px-4 rounded-xl focus:outline-slate-500 focus:outline-2 
                placeholder:text-base" 
                value="outinsure.com/invite-group-09123843bfnb3n3bjb3k3" 
            />
            <button class="bg-[#F3F3F3] text-black font-semibold rounded-xl p-3 ml-4">Copy</button>
        </div>
    </div>
} @else if (tabIndex == 2) {
    <div class="mt-6">
        <p class="w-4/5 mx-auto text-xl text-[#1B1B1B] font-light">
            Almost Done! Confirm group details and select an insurance package!!
        </p>
        <div class="w-4/5 mx-auto mt-12">
            <h3 class="uppercase text-md mb-3 font-semibold">Group details</h3>
            <div class="bg-slate-100 rounded p-4">
                <div class="flex items-center justify-between">
                    <p class="text-lg font-semibold">Group name</p>
                    <span class="icon-[ic--baseline-edit] h-8 w-8 bg-black cursor-pointer" (click)="goToStep(0)"></span>
                </div>
                <p class="mt-1">Weekend & beach</p>
                <p class="text-lg font-semibold mt-6">Group members</p>
                <p>ashikodiemeka&#64;gmail.com (You)</p>
                <p class="underline text-sm mt-2 cursor-pointer" (click)="goToStep(1)">send group invite</p>
            </div>
            <h3 class="uppercase text-lg mt-12 mb-0 font-semibold">Pricing</h3>
            <h5 class="mb-3 font-light text-sm">Minimum of 5 members for all plans.</h5>
            <div class="flex items-center justify-between">
                <label
                  (click)="selectPlan('squad_lite')"
                  [class.border-black]="selectedPlan === 'squad_lite'"
                  [class.bg-[#EBEBEB]]="selectedPlan === 'squad_lite'"
                  class="block bg-slate-100 w-[31%] p-4 border rounded-lg shadow-lg cursor-pointer hover:shadow-xl transition"
                >
                  <input
                    type="radio"
                    name="plan"
                    [value]="'squad_lite'"
                    class="hidden"
                  />
                <h3 class="text-md font-normal mb-5">Squad Lite</h3>
                <p class="text-gray-600"><span class="text-4xl font-bold">$11</span><span>/month</span></p>
                <p class="text-sm mt-5"><b>$100</b> payout per month</p>
                <p class="text-sm mt-5 flex items-center">
                    <span class="icon-[ant-design--check-circle-filled] h-4 w-4 bg-black"></span>
                    <span class="ml-2">Extra $20 on extra member</span>
                </p>
                </label>
                <label
                  (click)="selectPlan('crew_vibes')"
                  [class.border-black]="selectedPlan === 'crew_vibes'"
                  [class.bg-[#EBEBEB]]="selectedPlan === 'crew_vibes'"
                  class="block bg-slate-100 w-[31%] p-4 border rounded-lg shadow-lg cursor-pointer hover:shadow-xl transition"
                >
                  <input
                    type="radio"
                    name="plan"
                    [value]="'crew_vibes'"
                    class="hidden"
                  />
                <h3 class="text-md font-normal mb-5">Crew Vibes</h3>
                <p class="text-gray-600"><span class="text-4xl font-bold">$25</span><span>/month</span></p>
                <p class="text-sm mt-5"><b>$250</b> payout per month</p>
                <p class="text-sm mt-5 flex items-center">
                    <span class="icon-[ant-design--check-circle-filled] h-4 w-4 bg-black"></span>
                    <span class="ml-2">Extra $40 on extra member</span>
                </p>
                </label>
                <label
                  (click)="selectPlan('party_mode')"
                  [class.border-black]="selectedPlan === 'party_mode'"
                  [class.bg-[#EBEBEB]]="selectedPlan === 'party_mode'"
                  class="block bg-slate-100 w-[31%] p-4 border rounded-lg shadow-lg cursor-pointer hover:shadow-xl transition"
                >
                  <input
                    type="radio"
                    name="plan"
                    [value]="'party_mode'"
                    class="hidden"
                  />
                <h3 class="text-md font-normal mb-5">Party Mode</h3>
                <p class="text-gray-600"><span class="text-4xl font-bold">$50</span><span>/month</span></p>
                <p class="text-sm mt-5"><b>$550</b> payout per month</p>
                <p class="text-sm mt-5 flex items-center">
                    <span class="icon-[ant-design--check-circle-filled] h-4 w-4 bg-black"></span>
                    <span class="ml-2">Extra $100 on extra member</span>
                </p>
                </label>
              </div>
        </div>
    </div>
}