<h2 class="text-3xl text-center pb-4 border-b border-[#CBCBCB]">Create Group</h2>
<div class="flex mt-6 items-center justify-between w-4/5 mx-auto">
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 0 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B] pointer-events-none'"
    >
        Name Group
    </button>
    <div class="h-[1px] bg-[#9B9B9B] flex-1"></div>
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 1 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B] pointer-events-none'"
    >
        Invite Members
    </button>
    <div class="h-[1px] bg-[#9B9B9B] flex-1"></div>
    <button 
        class="text-lg rounded-md py-2 px-4" 
        [class]="tabIndex == 2 ? 'text-white bg-black' : 'border border-[#CBCBCB] text-[#9B9B9B] pointer-events-none'"
    >
        Review
    </button>
</div>
@if (tabIndex == 0) {
    <div class="mt-6">
        <input type="text" 
            class="bg-[#F3F3F3] 
            text-xl placeholder:text-[#757575] w-full placeholder:font-light 
            py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
            placeholder:text-base" 
            placeholder="Group name" 
        />
        <textarea class="bg-[#F3F3F3] 
        text-xl placeholder:text-[#757575] w-full placeholder:font-light 
        py-3 px-4 mt-4 rounded-xl focus:outline-slate-500 focus:outline-2 
        placeholder:text-base" placeholder="Group description (Optional)" rows="5"></textarea>
        <div class="flex items-center justify-around">
            <button type="button" class="w-2/5 bg-transparent text-black border border-black font-semibold h-12 rounded-xl mt-4">Cancel</button>
            <button
                type="button"
                class="w-2/5 bg-black text-white font-semibold h-12 rounded-xl mt-4"
            >
                Continue
            </button>
        </div>
    </div>
}