<h2 class="text-4xl font-semibold">Basic Info</h2>
<a href="/account/change-name">
    <div class="flex mt-6 pb-4 border-b border-[#EBEBEB] items-center justify-between group">
        <div>
            <label class="font-semibold text-lg">Name</label>
            <div class="font-light text-xl">JOHN DOE</div>
        </div>
        <span class="icon-[ant-design--arrow-right-outlined] h-6 w-6 ml-2 group-hover:animate-bounce"></span>
    </div>
</a>
<a href="/account/change-number">
    <div class="flex mt-6 pb-4 border-b border-[#EBEBEB] items-center justify-between group">
        <div>
            <label class="font-semibold text-lg">Phone Number</label>
            <div class="font-light text-xl">+1 (555) 505-1234</div>
        </div>
        <span class="icon-[ant-design--arrow-right-outlined] h-6 w-6 ml-2 group-hover:animate-bounce"></span>
    </div>
</a>
<a href="/account/change-email">
    <div class="flex mt-6 pb-4 border-b border-[#EBEBEB] items-center justify-between group">
        <div>
            <label class="font-semibold text-lg">Email</label>
            <div class="font-light text-xl">ashikodiemeka&#64;gmail.com</div>
        </div>
        <span class="icon-[ant-design--arrow-right-outlined] h-6 w-6 ml-2 group-hover:animate-bounce"></span>
    </div>
</a>
<a href="/account/change-password">
    <div class="flex mt-6 pb-4 border-b border-[#EBEBEB] items-center justify-between group">
        <div>
            <label class="font-semibold text-lg">Password</label>
            <div class="font-light text-xl flex my-3">
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
                <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
            </div>
            <div class="font-light text-lg">Last changed 22 July 2024</div>
        </div>
        <span class="icon-[ant-design--arrow-right-outlined] h-6 w-6 ml-2 group-hover:animate-bounce"></span>
    </div>
</a>