<h2 class="text-4xl font-semibold">Basic Info</h2>
<div class="mt-6 pb-4 border-b border-[#EBEBEB]">
    <label class="font-semibold text-lg">Name</label>
    <div class="font-light text-xl">JOHN DOE</div>
</div>
<div class="mt-6 pb-4 border-b border-[#EBEBEB]">
    <label class="font-semibold text-lg">Phone Number</label>
    <div class="font-light text-xl">+1 (555) 505-1234</div>
</div>
<div class="mt-6 pb-4 border-b border-[#EBEBEB]">
    <label class="font-semibold text-lg">Email</label>
    <div class="font-light text-xl">ashikodiemeka&#64;gmail.com</div>
</div>
<div class="mt-6 pb-4 border-b border-[#EBEBEB]">
    <label class="font-semibold text-lg">Password</label>
    <div class="font-light text-xl flex my-3">
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
        <span class="bg-black w-1 h-1 rounded-full mr-1"></span>
    </div>
    <div class="font-light text-lg">Last changed 22 July 2024</div>
</div>